*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    font: condensed 100% sans-serif;
    color:white; 
}

header{
    width:100%;
    height:6%;
    background-color: rgb(55, 55, 141);
}
div{
    width:100%;
    height: 94%;
    color:black;
    text-align: center;
    
}