*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
}
header{
    width:inherit;
    height: 50px;
    background-color: #fa8072;
    font: condensed 120% sans-serif;
    color:white;
    display:flex;
}

.header-container div{
    padding-left: 60px;
    width:35vw;
}
img{
    width:60px;
    height:60px;
}
.menu{
    width:50px;
    height:50px;
}

.letter_type {
    display: flex;
    height:20px;
    font: condensed 120% sans-serif;
    padding: 30px;  
}

#page_subtitles{
    color:#fa8072;
}
div .letter-container{
    margin-left: 7vw;
    min-width: 35vw;
    width:inherit;
    text-align: left;
}
.letter-container input{
     border-radius: 20px;
     min-width:25vw;
     height:30px;
     font: condensed 100% sans-serif;
     padding-left:15px;
     padding-right:15px;
 }

.input_type {
    display: flex;
    height:20px;
    font: condensed 120% sans-serif;
    padding-left: 30px;
    
      
}
button{
    border-radius: 5px;
    cursor: pointer;
    float:right;
    background-color:#fa8072;
    color:white;
    width:70px;
    height: 40px;
    font: condensed 100% sans-serif;
    margin-right: 10vw;
}
header .menu{
    float:left;
}

.email-imput input {
    min-width:30vw;
    height:30px;

}
.banner-profile{
    width:100vw;
    height:29vh;
    background-color:gray;
    display:flex;
}
.banner-profile div{
    width:50vw;
} 
section{
    width: 100vw;
    height:64vh;
}
section .menu-profile{
    width:25vw;
    height:100%;
}
section .data-visualization{
    width:50vw;
    height:100%;
} 
section .billboard{
    width:25vw;
    height:100%;
    background-color: #fa8072;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-container{
    display:flex;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-image img{
    width:150px;
    height: 150px;
    margin:40px;

}
.user-text{
    align-content: right;
    text-align:right;
    font: condensed 140% sans-serif;
    color:white;
    padding:50px;
}
.menu-tools{
    width:inherit;
    height: 32vw;
    color:black;
    text-align: center;
    font: condensed 140% sans-serif;
}
div .menu-tools{
    height:32vh;
    margin-bottom: 30px;
   
}
.menu-tools p{
    padding:20px;
    border:  5px solid white;
    background-color: #fa8072;
    cursor:pointer;
}

.billboard img{
    width:10vw;
    height:20vh;
    padding: 10px;
}
div .user-main{
    width:50vw;
    height:inherit;
}
form{
    padding:30px;
    font: condensed 120% sans-serif;
}
form div{
    width:40vw;
    height:inherit;
    display: flex;
}
form p{
    padding:20px;
}
form input{
    width:20vw;
    height:30px;
    border-radius: 15px;
    margin:20px;
    font: condensed 100% sans-serif;
}

.input_c{
    display:flex;
    justify-content: space-between;
}

.checkbox-policies{
    border-radius: 20px;
}
