
<!DOCTYPE html>
<html lang="es">



<div class="pagina-pelicula mb-3">
	<div class="page-header header-filter pt-3 pb-2" style="background-color:#bfccf1">
		<div class="container">
			<div class="row">
				<div class="col-12">
                    <button class="bt5 btb">Inicio</button>
					<h1 class="title-cartelera text-uppercase"><a>Peliculas</a></h1>
                    
				</div>
				<div class="col-12 buscador">
					<form class="form-inline">
						<div class="form-group m-0">
							
                            <input type="text" class="form-control" placeholder="Buscar Película">
						</div>
						<button type="submit" class="btn" aria-label="Buscar">
							<svg version="1.1" x="0px" y="0px" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve" class="pb-1" width="22" fill="#fff">
<path d="M19.8,5.8C14.3,2.1,6.7,3.5,2.9,9c-3.8,5.5-2.3,13.1,3.2,16.9c4.9,3.4,11.5,2.6,15.5-1.5c0.2,0.4,0.5,0.8,0.9,1.1l8,5.5c1.2,0.8,2.8,0.5,3.6-0.7c0.8-1.2,0.5-2.8-0.7-3.6l-8-5.5C25,21,24.5,20.8,24,20.8C26.4,15.6,24.7,9.2,19.8,5.8L19.8,5.8z M20.4,21c-2.8,4.1-8.5,5.2-12.6,2.4c-4.1-2.8-5.2-8.5-2.4-12.6c2.8-4.1,8.5-5.2,12.6-2.4C22.2,11.2,23.2,16.8,20.4,21L20.4,21z M20.4,21"/>
							</svg>
							<span class="ripple-container"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
    .btb{background-color:blue;color:white;width:120px;}
    
</style>

<th> <select name="" id=""> 
	<option value=""> Romantica </option> 
	<option value=""> Comedia </option> 
	<option value=""> Terror </option> 
	<option value=""> Accion </option> 
	<option value=""> Drama </option>
</select> </th>  
</tr>
<tr><button class="bt2 btb">Comentario</button><button class="bt4 btb">Estreno</button><button class="bt2 btb">Cerrar Sesion</button>
<div class="container">
	<div class="row cartelera-cine">

<section class="col-12 col-md-12 col-lg-12 mt-2">
	<div class="col-md-12 p-0">
		<h2 class="title-seccion text-uppercase"> <span>Estrenos</span></h2>
	</div>
	<div class="row">

<div class="col-12 col-sm-3 px-5 px-sm-3">
	<article class="pelicula-estreno">
		<div class="imagen"><a href="/cine/la-familia-addams-2-8001">
<picture>
<source srcset="https://cdn.colombia.com/cine/2021/9/la-familia-addams-2-40698.webp" type="image/webp">
<img src="https://cdn.colombia.com/cine/2021/9/la-familia-addams-2-40698.jpg" alt="LA FAMILIA ADDAMS 2"><img src="C:\Users\User\Desktop\Ciclo 3\imagenes\imagen1.jpg"><img src="https://cdn.colombia.com/cine/2021/9/la-familia-addams-2-40698.jpg" alt="LA FAMILIA ADDAMS 2">

</picture>
		</a></div>
		<h2 class="title-pelicula text-uppercase"><a href="/cine/la-familia-addams-2-8001">LA FAMILIA ADDAMS 2</a></h2>
		<ul class="d-flex flex-row">
			<li><b>Género</b>: Animado</li>
			<li><b>Duración</b>: 93 min.</li>
			<li><b>Clasificación</b>: Todos</li>
		</ul>
		<div class="director"><b>Director:</b> <span>Greg Tiernan, Conrad Vernon</span></div>
		<div class="actores"><b>Actores:</b> Animación, Voz: Oscar Isaac, Charlize Ther...</div>
	</article>
</div>
	
<div class="col-12 col-sm-3 px-5 px-sm-3">
	<article class="pelicula-estreno">
		<div class="imagen"><a href="/cine/pesadilla-en-el-hotel-normadie-7988">
<picture>
<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="https://cdn.colombia.com/cine/2021/9/pesadilla-en-el-hotel-normadie-40672.webp" type="image/webp">
<img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://cdn.colombia.com/cine/2021/9/pesadilla-en-el-hotel-normadie-40672.jpg" alt="PESADILLA EN EL HOTEL NORMADIE">

</picture>
</body>
</html>