<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
</head>
<body>
    <header>
        <h1>Peliculas</h1>
    </header>
    <div id="header">
        <ul class="nav">
            <li><a href="/cartelera">Inicio</a></li>
            <li><a>Genero</a>
                <ul>
                    <li><a href="/cartelera/romance">Romance</a></li>
                    <li><a href="/cartelera/comedia">Comedia</a></li>
                    <li><a href="/cartelera/animadas">Animadas</a></li>
                    <li><a href="/cartelera/accion">Accion</a></li>
                    <li><a href="/cartelera/drama">Drama</a></li>
                </ul>
            </li>
            <li><a href="/cartelera/estrenos">Estrenos</a></li>
            <li><a href="/cartelera/comentarios">Comentarios</a></li>
            <li><a href="/logout">Cerrar sesion</a></li>
        </ul>
    </div>
    <div class="movies">
        <table>
            <tr>
                <td>
                    <img src="https://cartelera.elpais.com/assets/uploads/2019/08/09030226/C_21352.jpg">
                </td>
                <td>
                    <img src="https://es.web.img3.acsta.net/pictures/21/08/16/18/07/0847748.jpg">
                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/4f/5e/23/4f5e238b955409506c4a06b02e90e4f4.jpg">
                </td>
                <td>
                    <img src="https://www.estrenosdecine.eu/media/k2/items/cache/599fb29aa9701270b6a9ff19f1902a35_M.jpg">
                </td>
               
            </tr>
            <tr>
                <td>
                    <img src="https://i.pinimg.com/originals/b5/17/ed/b517ed2cdda0b4ad2e9f8a3b21e34687.jpg">
                </td>
                <td>
                    <img src="https://www.estrenosdecine.eu/media/k2/items/cache/4026b2ca97fbd8240d4cb088756166f7_M.jpg">
                </td>
                <td>
                    <img src="https://cartelera.elpais.com/assets/uploads/2018/11/30030246/C_19903.jpg">
                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/4b/df/44/4bdf447e3c82d40dc301ed843e53c34c.jpg">
                </td>
                
            </tr>
            <tr>
                <td>
                    <img src="https://cartelera.elpais.com/assets/uploads/2019/10/25030224/C_21521.jpg">
                </td>
                <td>
                    <img src="https://lh3.googleusercontent.com/proxy/oK0KQYQz9_LGR-Ey-be6fQOaDi6o3Gr--gQMuD3UxfJLZFhewm9FdlJNsBEnXBqsr3n9JPhQmN0EWBXbu3RCqreCbLuW2AmTXD3TceGDf-WThHI">
                </td>
                <td>
                    <img src="https://moviehaku.com/thumbs/films/400x590/Holidate.jpg">
                </td>
                <td>
                    <img src="https://cartelera.elpais.com/assets/uploads/2019/03/29030347/C_20892.jpg">
                </td>
               
            </tr>
            <tr>
                <td>
                    <img src="https://cartelera.elpais.com/assets/uploads/2019/11/29030238/C_21503.jpg">
                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/66/bf/cb/66bfcb9c5f632ba03efe0361ffad1932.jpg">
                </td>
                <td>
                    <img src="https://i.pinimg.com/236x/4b/1d/86/4b1d869fede417ae2c97d7c9cc17d6a2.jpg">
                </td>
                <td>
                    <img src="https://tipitapa.files.wordpress.com/2010/06/kqbdg_miley-cyrus-the-last-song-poster.jpg">
                </td>
               
            </tr>
           
        </table>
    </div>

</body>
</html>

<link rel="stylesheet" href="{{ url_for('static',filename='css/peliculas_style.css') }}">