{% extends "base.html" %}


{% block contenido%}
        <div class="general">

                <table border="1">
                    <tr>
                        <td>
                            IDENTIFICACION
                        </td>
                        <td>
                            NOMBRE 
                        </td>
                        <td>
                            PELICULA                        
                        </td>
                        <td>
                            COMENTARIO USUARIO
                        </td>
                       
                        
                    </tr>
                    {% if row %}
                    <tr>
                        <td>
                            {{ row["id_comentario"] }}
                        </td>
                        <td>
                            {{ row["mensaje"] }}
                        </td>
                        <td>
                            {{ row["id_pelicula"] }}
                        </td>
                        <td>
                            {{ row["id_usuario"] }}
                        </td>
                        
                    </tr>
                    {% endif %}
                </table>
                <li class="nav__items"><a href="/menu" class="nav__links">Regresar a Menu principal</a></li>  


        </div>   

    {% endblock %}